body {
  overflow: hidden;
  min-height: 100vh;

  cursor: crosshair;
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);

  /* je souhaite lui donner une direction de haut en bas  */
  opacity: 0;
  /* je vais crée une animation qui s'appelle anim (forwards pour reste dans son etat)*/

  animation: anim 8s forwards;

  /* en gros il est a sa couleur de base pour ensuite passé a une autre couleur  */
  filter: hue-rotate(0deg);
}

/****** En JS ne peux pas injecter quelque chose dans un Keyframe ********/

/* en gros je dis a ta creation lorsque je t'injecte la classe je veux que tu ailles jusqu'a donc top   */
@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.555);
}
